@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

:root{
<<<<<<< HEAD
    --blue: grey;
=======
    --blue: #13dbd1d0;
>>>>>>> ca582dbbbe877cf0070b6231ad1591250705721b
    --fsinscreen: 35px;
    --ffincalc: 'Noto Sans JP', sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
    overflow: hidden;
}
header{
    width: 100%;
    border: 1px black solid;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
}
.maincontainer{
    width: 100%;
    height: 89vh;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculatorbody{
    width: 35%;
    height: 90%;
    border: 1px black solid;

}
.calc-screen{
    width: 100%;
    height: 16%;
    border: 1px black solid;
    font-size: var(--fsinscreen);
<<<<<<< HEAD
    text-align: end;
    padding-top: 4%;
    padding-right: 1%;
=======
   
>>>>>>> ca582dbbbe877cf0070b6231ad1591250705721b
}
.calc-button-container{
    width: 100%;
    height: 84%;
    border: 1px black solid;
    

}
.calc-button-container{
    display:grid;
    grid-template-columns: auto auto auto auto;
}
.calc-button-container button{
    padding: 20px;
    font-size: 1.2rem;
    transition: .2s all linear;
    background-color: rgb(87, 83, 83);
}
.calc-button-container button:hover{
    background: #24cdd3dc;
}
.calc-button-container button:active{
    background-color: #bdbdbd;
}
.del{
    background-color: crimson;
}
